.containerButtonNav{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px 10px;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    width: 100%;
    padding: 8px 12px;
    border: none;
    background-color: #0f171f;
    border-radius: var(--radius);
    color: white;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
        background: var(--sidebar-accent);
    }

    &.active {
        background-color: #0f171f;
        color: var(--primary);
    }

    .icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .label {
        flex: 1;
        text-align: left;
    }

    .badge {
        padding: 0.15rem 0.5rem;
        border-radius: 999px;
        font-size: 0.75rem;
        background: var(--muted);
        color: var(--muted-foreground);
    }
}