.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #0c1215;
  gap: 10px;
  border: 1px solid #2c2c2e;
  border-radius: 5px;
  padding: 2px 10px;
  margin-left: 4px;
  transition: border-color 160ms ease;

  &:focus-within {
    border-color: var(--primary);
  }

  &__icon {
    color: gray;
    flex-shrink: 0;
    padding: 6px 0px;
  }

  &__input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    font-size: 14px;
    color: gray;

    &::placeholder {
      color: gray;
    }
  }
}

.search-bar__icon{
  display: flex;
  justify-content: center;
  align-items: center;
}