aside{
    min-width: 250px;
    width: fit-content;
    height: 100vh;
    border-right: 1px solid #1a222b;
}

.asideLogoContainer{
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 16px;
    height: 70px;
}

.asideNavOptions{
    border-top: 1px solid #1a222b;
}