<div class="folder-section">

  <h2 class="folder-section__title">Carpetas</h2>

  <div class="folders-grid" *ngIf="activeView === 'grid'">
    <app-card-folder
      *ngFor="let folder of folders"
      [name]="folder.name"
      [itemCount]="folder.itemCount"
      (folderClick)="onFolderClick($event)"
    />
  </div>

  <div class="folders-list" *ngIf="activeView === 'list'">
    <div
      class="list-row"
      *ngFor="let folder of folders"
      (click)="onFolderClick(folder.name)"
    >
      <lucide-angular [img]="FolderIcon" [size]="20" class="list-row__icon" />
      <div class="list-row__info">
        <span class="list-row__name">{{ folder.name }}</span>
        <span class="list-row__count">{{ folder.itemCount }} elementos</span>
      </div>
    </div>
  </div>

  <div class="folder-section__header">
    <h2 class="folder-section__title">Documentos recientes</h2>
    <span class="folder-section__ver-todos">Ver todos</span>
  </div>

  <div class="documents-grid">
    <app-card-document
      *ngFor="let doc of documents; let i = index"
      [name]="doc.name"
      [type]="doc.type"
      [size]="doc.size"
      [date]="doc.date"
      [starred]="doc.starred"
      [iconBg]="doc.iconBg"
      (cardClick)="onDocumentClick(doc)"
      (starClick)="onStarClick(i)"
    >
      <lucide-angular
        icon
        [img]="getIcon(doc.icon)"
        [size]="22"
        [style.color]="getIconColor(doc.type)"
      />
    </app-card-document>
  </div>

</div>

<app-file-detail-modal
  [file]="selectedFile"
  [visible]="modalVisible"
  (close)="onModalClose()"
  (toggleStar)="onModalStarToggle($event)"
/>